.header {
    background: #d2d8ff;
}

.footer {
    background: #d2d8ff;
}



aside.sidebar{
    width:500px;
}

.description{
    display: inline-block;
    float: right;
    border: #969696 solid 1px;
    margin-left: 10px;
    margin-bottom: -5px;
    padding: 1px 3px;
    height: 22px;
    width: 280px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor:default ;

    height: 16px;
    font-size: 10px;

    /*display: none;*/
}


div.tree li{
    list-style-type: none;
}
div.tree li.plus:after{
    content: " +";
    font-weight: bold;

    border: 1px solid black;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;

    cursor: pointer;
}
div.tree li.minus:after{
    content: " -";
    font-weight: bold;

    border: 1px solid black;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;

    cursor: pointer;
}

div.tree ul{
    margin-left: 0px; /* Отступ слева в браузере IE и Opera */
    padding-left: 20px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}


main.content form{
    display: inline-block;
    margin: 0 auto;
}
main.content form div{
    text-align: right;
    padding-top: 5px;
}
main.content>div{
    text-align: center;
    padding-top: 15px;
}
main.content form select,
main.content form input,
main.content form textarea{
    width: 350px;
}
main.content>div>select{
    margin-bottom: 25px;
    width: 250px;
}
main.content select[name=treeitem]{
    margin-bottom: 20px;
}




main.content div.description{
    border: #000000 1px solid;
    width: 80%;
    height: 40%;
    margin: auto auto;

    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
}